@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans&display=swap");

/* color theme
EAE8FF
D8D5DB
ADACB5
2D3142
B0D7FF */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

body {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-size: 1rem;
  color: #2d3142;
  background-color: #eae8ff;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*   gap: 4rem;
  padding: 6rem 0;
  border: 2px solid #2d3142;
  outline: 2px solid #2d3142;
  outline-offset: 1.2rem; */
}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

input {
  font-family: inherit;
  text-align: center;
  color: inherit;
  font-size: 2rem;
  background-color: #b0d7ff;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 32rem;
  margin-bottom: 1rem;
}

input:focus {
  outline: 2px solid #2d3142;
}

.weather {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.day {
  background-color: #d8d5db;
  padding: 1rem 0 1rem;
  width: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

.day span {
  font-size: 4rem;
}

.day.important {
  background-color: #ecc5c0;
  outline: 2px solid #2d3142;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

.inputContainer {
  position: relative;
}

.btn-more {
  position: absolute;
  right: 8px;
  top: 12px;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  background-color: #59acff;
  border: none;
}

.dropdownMenu {
  background-color: #b0d7ff;
  position: absolute;
  top: 60px;
  border-radius: 0.5rem;
  left: 0;
  right: 0;
}

.dropdownItem {
  cursor: pointer;
  background-color: #cde5fd;
  margin: 6px;
}
