@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* color theme
EAE8FF
D8D5DB
ADACB5
2D3142
B0D7FF */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-family: "Noto Sans", "Noto Color Emoji", sans-serif;
  font-size: 1rem;
  color: #2d3142;
  background-color: #eae8ff;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*   gap: 4rem;
  padding: 6rem 0;
  border: 2px solid #2d3142;
  outline: 2px solid #2d3142;
  outline-offset: 1.2rem; */
}

.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 0.2rem;
  font-size: 1.25rem;
}

input {
  font-family: inherit;
  text-align: center;
  color: inherit;
  font-size: 1.5rem;
  background-color: #b0d7ff;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 22rem;
  margin-bottom: 1rem;
}

input:focus {
  outline: 2px solid #2d3142;
}

.existing-location {
  text-align: center;
}

.weather-container {
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.weather {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.day {
  background-color: #d8d5db;
  padding: 0.25rem 2rem 0.25rem;
  width: 22rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border-radius: 1rem;
}

.day span {
  font-size: 2rem;
}

.day.important {
  background-color: #ecc5c0;
  outline: 2px solid #2d3142;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

.inputContainer {
  position: relative;
}

.btn-more {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
  background-color: #59acff;
  border: none;
}

.dropdownMenu {
  background-color: #b0d7ff;
  position: absolute;
  top: 60px;
  border-radius: 0.5rem;
  left: 0;
  right: 0;
  z-index: 10;
}

.dropdownItem {
  cursor: pointer;
  /* background-color: #ffffff99; */
  padding: 0.25rem;
  box-shadow: inset 0px 2px 5px 6px rgba(255, 255, 255, 0.151);
}

.dropdownItem:hover {
  color: #1b00b3;
  font-weight: bold;
}

.pin {
  position: relative;
  margin-bottom: 0.5rem;
  /* top: 3.5rem; */
}

.checkbox {
  width: 1rem;
}
#degrees {
  width: 1rem;
}

header {
  width: 100%;
  margin-top: 1rem;
  padding: 0 2rem 0;
  max-width: 1024px;
}

.locations {
  overflow: auto;
  margin-bottom: 1rem;
}

.hourly-modal .modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*   width: 100vw;
  height: 100vh; */
  z-index: 100;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  max-width: 25rem;
  background-color: white;
  margin: 1rem;
  padding: 1rem 0;
  border-radius: 1rem;
  max-height: 80vh;
  overflow-y: scroll;
}

.modal-list li:nth-child(even) {
  background-color: rgb(255, 236, 210);
}

.hour-card {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 0 2rem;
}

.hour-icon {
  font-size: 2rem;
}

.hour-temp {
  font-weight: bold;
}

.hour-time {
  text-align: right;
  width: 41px;
}

@media screen and (min-width: 500px) {
  input {
    width: 28rem;
  }

  .day {
    width: 25rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 660px) {
  input {
    width: 32rem;
    font-size: 2rem;
  }

  .btn-more {
    top: 12px;
  }

  .title {
    font-size: 4rem;
  }

  .weather {
    flex-direction: row;
  }

  .day {
    flex-direction: column;
    justify-content: flex-start;
    width: 5rem;
    padding: 1rem 0 1rem;
  }
}
@media screen and (min-width: 768px) {
  .weather {
    gap: 1.5rem;
  }
}
@media screen and (min-width: 900px) {
  .day {
    width: 6rem;
  }

  .day span {
    font-size: 4rem;
  }
}
